---
export interface Props {
  title: string;
  subtitle: string;
  description: string;
  href: string;
  logo?: string;
  color: string;
  prevColor?: string;
  date: string;
}
const {
  title,
  subtitle,
  href,
  logo,
  description,
  color,
  prevColor = "#3B3E4A",
  date = "2700",
} = Astro.props;
---

<div class="container">
  <div class="date">
    <span>
      {date}
    </span>
  </div>
  <li class="histogram">
    <img class="time-icon" src={logo} />
    <div>
      <div class="histogram-header">
        <h3>{title}</h3>
        <a href={href}>#</a>
      </div>
      <div class="histogram-content">
        <h4>{subtitle}</h4>
        <p>{description}</p>
      </div>
    </div>
  </li>
</div>

<style define:vars={{ color, prevColor }}>
  h1 {
    font-weight: 700;
    color: var(--yellow);
  }
  h2 {
    font-weight: 600;
    color: var(--yellow);
  }
  h3 {
    font-weight: 500;
    color: var(--yellow);
    margin-top: 0.75rem;
  }
  p {
    margin-top: 0.5rem;
    padding-bottom: 2rem;
  }
  .container {
    display: flex;
  }
  .date {
    display: inline-flex;
    flex-wrap: wrap;
    margin-right: 2.1rem;
    height: 50px;
    align-items: center;
    span {
      max-width: 50px;
    }
  }
  .time-icon {
    margin-left: -27px;
    z-index: 2;
    border: 2px solid var(--color);
    background-color: var(--color);
    border-radius: 50%;
    height: 50px;
    width: 50px;
    margin-right: 1.25rem;
    padding: 8px;
    flex: 0 0 30px;
    transition: transform 0.3s;
  }
  .histogram {
    display: flex;
    list-style: none;
    position: relative;
  }

  .histogram::before {
    border-image: linear-gradient(0deg, var(--prevColor) 5%, var(--color) 50%) 1;
    border-left: 4px solid var(--color);
    content: "";
    display: block;
    inset: 0 auto 0-4px;
    position: absolute;
    border-radius: 5px;
  }

  .container:last-child > .histogram::before {
    border-image: linear-gradient(0deg, transparent 10%, var(--color) 70%) 1;
  }

  .container:hover {
    .time-icon {
      transform: scale(1.2);
    }
  }

  .histogram-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    color: var(--orange);
  }
  .histogram-content {
  }
  .histogram-content > h4 {
    margin: 0px;
  }
  .histogram-content > h4 {
    margin: 0px;
  }
</style>
